# Virtual environment
venv/
.env/

# Python cache and build files
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE files (VSCode, PyCharm)
.vscode/
.idea/

# Environment variables (sensitive data!)
.env
*.env
